

<div class="row">
  <div class="mb-1 col-md-12 col-xs-offset-1 ">
    <h1>List of all the articles</h1>
    <%= link_to "Create new post", new_post_path, class: "btn btn-xs btn-primary" %>
  </div>
</div>
<%= render 'post', obj: @posts %>
<div align = "center">
  <%= will_paginate %>
</div>
