$navbar-default-bg: #66ff99;
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 50px;
}
.top-nav {
  margin-bottom: 100px;
}

.post-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: 100px;
  height: 550px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  background-image: asset-url('background-image.jpg');
  background-size: cover;

  h1 {
    margin: 30px 0;
  }
}

.listing {
  list-style: none;
  padding-left: 0;

}
.post-meta-details {
  border-top: 1px solid #EAEAEA;
  margin-top: 15px;
}
.footer-section {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin-top: 45px;
  padding: 10px;
  ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    li {
      display: inline-block;
      font-size: 18px;
      margin-left: 10px;
      padding: 0 8px;

      a {
        color: #fff;
      }
    }
  }

}

#about {
  margin-left: auto;
}

.copyright-section {
  padding: 5px auto;
}

// another project
.post-section {
  background-color: #f5f2f2;
  margin: 0 20px;
  padding: 20px;
  padding-bottom: 0;
}
.profile-section {
  background-color: blue;
  height: 50vh;
}
.unknown-friends-section {
  background-color: red;
  height: 50vh;
}

.input-field {
  height: 100px;

}
.comment-like {
  margin-top: 10px;
  padding-bottom: -10px;
  background-color: #e3e5e8;
}
