<div class="container">
  <footer class="footer-section">
    <nav>
      <ul>
        <li id="about"><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </nav>
    <small class="copyright-section">
      Copyright &copy; <a href="#">Blog Post</a> By <a href="#">Suman Shrestha</a>
    </small>
  </footer>
</div>
